<div class="well">
    <h4>Blog Categories</h4>
    <div class="row">
        <div class="col-lg-6">
            <!--<ul class="list-unstyled">
                <li ng-repeat="categorie in categoriesCtrl.categories" ng-if="$even">
                    <a ui-sref="categories({tag: categorie})">{{categorie}}</a>
                </li>
            </ul>-->
            <ul class="list-unstyled">
                <li><a >Cat1</a></li>
                <li><a >Cat2</a></li>
                <li><a >Cat3</a></li>
            </ul>
        </div>
        <div class="col-lg-6">
            <!--<ul class="list-unstyled">
                <li ng-repeat="categorie in categoriesCtrl.categories" ng-if="$odd">
                    <a ui-sref="categories({tag: categorie})">{{categorie}}</a>
                </li>
            </ul>-->
            <ul class="list-unstyled">
                <li><a >Cat1</a></li>
                <li><a >Cat2</a></li>
                <li><a >Cat3</a></li>
            </ul>
        </div>
    </div>
</div>
