<div>
    <h2>
        <a>Title article</a>
    </h2>
    <p>
        <span class="glyphicon glyphicon-user"></span> by <strong>Fouad J</strong>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Posted on <strong>10/29/2016</strong></p>

    <hr>

    <img class="img-responsive" src="http://placehold.it/900x300" />
    <hr>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo ullam, fugit, optio beatae molestias consequatur. 
        Laudantium distinctio, ducimus quod, magnam sint excepturi molestiae porro consequatur, est harum mollitia voluptatum minus.
    </p>
    <a class="btn btn-primary">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

    <hr>
</div>