<div>
    <h2>
        <a [routerLink]="['/articles', article.articleId]">{{article.title}}</a>
    </h2>
    <p>
        <span class="glyphicon glyphicon-user"></span> by <strong>{{article.username}}</strong>
        <span class="glyphicon glyphicon-time"></span> Posted on <strong>{{article.datePublication}}</strong>
    </p>

    <hr>
    <img class="img-responsive" [src]="article.picture" />
    <hr>

    <p>{{article.content | slice:0:300}}...</p>
    <a class="btn btn-primary" [routerLink]="['/articles', article.articleId]">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

    <hr>
</div>